
* {
    box-sizing: border-box;
    }

body {
    font-family: Arial;
    margin: 0;
}

.header p {
    font-family: Arial;
    font-style: oblique;
    font-size: 50%;
    font-weight: bold;
    color: black;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}


.header {
    font-family: "Lobster", cursive;
    font-size: 280%;
    padding: 1%;
    text-align: center;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    color: #131212;
    background-image: url("donut_background.jpg");

}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 75px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 10%;
}

img {
    margin: 20px 50px 5px 50px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation-duration: 3.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
    margin-right: 100%;
}
    /* to {
margin-left: 100%;
} */
}

/* .feedback {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: small;
}

input[type=text], input[type=email] {
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 50%;
    padding: 2%;
    margin-bottom: 10%;
}    */

.links {
    display:flex;
    justify-content: center;
    text-align: center;
}

.links a {
    color: black;
    text-decoration: none;
}

.footer {
    display: flex;
    padding: 0.5%;
    margin-top: 1%;
    text-align: center;
    background: black;
    color: whitesmoke;
    font-size: small;
    justify-content: center;
    }

@media screen and (max-width: 768px) {
    .navbar {
    flex-direction: column;
    }
    }